html {
  overflow: hidden;
}

/* Add OS-specific fonts */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  text-rendering: optimizeLegibility !important;
  font-feature-settings: "liga", "clig", "kern";
}

/* Bind the toolbar as the window's draggable region */
#l-header,
body.itsl-welcome,
body.itsl-login,
body#feide\:login {
  -webkit-app-region: drag;
}

body.itsl-login {
  position: absolute;
  top: 0;
  width: 100%;
}

body.itsl-login > form {
  margin-top: 40px;
}

body.itsl-welcome .l-countries-area {
  display: none;
}

/* macOS: Move the navigation menu so it's not obstructed by the native traffic lights */
.os-darwin .l-main-menu,
.os-darwin #mainMoreMenu {
  margin-left: 53px;
}

/* Exclude from drag */
a,
ul.l-main-menu-items li,
ul.l-personal-menu-items li,
body.itsl-welcome .choose-site-box,
body.itsl-welcome .l-login-links li,
body.itsl-welcome .l-loginchoice .l-languagelist > span,
body.itsl-login form div,
body#feide\:login .main,
body#feide\:login .expandable,
body#feide\:login #privacy_policy,
body#feide\:login .topbar #languagebar,
body#feide\:login .topbar #languageSelector {
  -webkit-app-region: no-drag;
  -webkit-user-drag: none;
}

/* Narrower titlebar */
#l-header,
.l-main-menu,
.l-personal-menu {
  height: 40px !important;
}
.l-main-menu-items li a {
  padding: 8px 14px !important;
}
.l-main-menu-items .l-menu-itslearning a {
  padding: 4px 14px !important;
}
.l-personal-menu-items li[role="menuitem"] {
  position: relative;
  top: -11px;
  transform: scale(0.8);
}
.l-personal-menu-items li[role="menuitem"] a {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.l-personal-menu-items li[role="menuitem"]:last-child {
  top: -12px;
}
.l-personal-menu-items li.l-personal-badge-menu-item {
  right: -16px;
}
.l-personal-menu-items-link,
.l-menu-itslearning img {
  margin-top: 0px !important;
}
#personal-menu-dd {
  margin-top: 60px;
}
.l-personal-menu-items .c-messages-popup {
  margin-top: -20px !important;
}
.ccl-notification-popup,
#personal-menu-dd,
.l-personal-menu-name {
  transform: scale(1.25) !important;
}
.ccl-context-dialog.ccl-notification-popup {
  top: 94px !important;
}

@media all and (max-width: 700px) {
  /* Compact mode */
}
